{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre_article</th>
                <td>{{ article.titreArticle }}</td>
            </tr>
            <tr>
                <th>Texte_article</th>
                <td>{{ article.texteArticle }}</td>
            </tr>
            <tr>
                <th>Date_article</th>
                <td>{{ article.dateArticle ? article.dateArticle|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
