{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    
    <header class="flex flex-nowrap ">
    <div class="w-3/6">
     <img class="" src="images/logo/logogr-removebg.png" alt="logo de Thot">
    </div>
    <div class="w-3/6">
    <img class="" src="images/image/livrebibli.jpg" alt="image d'un livre au milieu d'une bibliotheque">
    </div>
    </header>
   
   
     <main class=' w-full'>
     <h1 class='text-4xl'>Le Coin Lecture</h1>

        {# _______Barre de recheche________ #}
        <div class=" flex  px-20">
            <div class="">
                <div class="flex items-center p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
                    <div class="flex  p-4 w-72 space-x-4 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                        <input class="bg-gray-100 outline-none" type="text" placeholder="Titre" />
                    </div>
                    <div class="flex py-3 px-4 rounded-lg text-gray-500 font-semibold cursor-pointer">
                        <span>Categorie</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </div>
                    <div class="flex py-3 px-4 rounded-lg text-gray-500 font-semibold cursor-pointer">
                        <span>Genre</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </div>
                    <div class="bg-gray-800 py-3 px-5 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
                    <span>Rechercher</span>
                    </div>
                </div>
            </div>
        </div>



        {% for article in articles %}
            <section class='shadow-xl bg-white-600 '>
            <div class='shadow-xl m-6'>
            <h2>{{ article.titreArticle }}</h2>
                <article>{{ article.texteArticle }}</article>
                <p>{{ article.dateArticle ? article.dateArticle|date('Y-m-d ') : '' }}</p>
                <div>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                </div>
            </div>
               
                
            </section>
        {% else %}
            <div>
                <p colspan="6">no records found</p>
            </div>
        {% endfor %}
    

    <a href="{{ path('app_article_new') }}">Create new</a>
    </main>
{% endblock %}
