{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<header class="relative flex ">
<img  src="/images/image/entetearticle.jpg" alt="image d'un livre ouvert">
<img class="absolute " src="/images/logo/logolignenoir.png" alt="logo de Thot">
</header>
<h1 class="text-6xl">Article</h1>
    <section class='shadow-xl bg-white-600 '>
    {# {% if article.statutArticle == 1 %} #}
        <div class='shadow-xl m-6'>
            <h2>{{ article.titreArticle }}</h2>
            <article>{{ article.texteArticle }}</article>
        <p>{{ article.dateArticle ? article.dateArticle|date('Y-m-d ') : '' }}</p>
        </div>
    {# {% else %}
    <p>RAS</p>
    {% endif %} #}
    </section> 
    <a href="{{ path('app_article_index') }}">back to list</a>
    <a href="{{path('app_article_edit', {'id' : article.id})}}">edit</a>

 
    {% if ('ROLE_ADMIN') %}
        {{ include('article/_delete_form.html.twig') }}
        
    {% endif %}
    

{% endblock %}
