<nav class='bg-stone-800 text-white flex flex-nowrap justify-between w-screem'>

<div class="p-6 ">

{% if app.user %}
  <a href="{{path('app_logout')}}">Deconnexion</a>
  {% else %}
  <a href="{{ path('app_login') }}" class=" btnConnex ml-6">Connexion</a>
{% endif %}

<a href="{{ path('app_register') }}" class=" btnInscrip ml-6">Inscription</a>

<a href="{{path('app_article_index')}}" class="ml-6">Le Coin Lecture</a>

</div>

{% if is_granted('ROLE_ADMIN') %}
<div class="p-6 ">
<a href="{{path('app_admin')}}">Tableau de bord</a>
</div>
{% endif %}



<div>
<img class= "h-20 " src="/images/logo/Logoblancligne.png" alt="logo de Thot">
</div>
</nav>